/* General Body Stuff */
body {
    background-image:url(http://res.cloudinary.com/di63bpjnn/image/upload/v1491361517/green2_d49bcd.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size:100% 100%;  
    font-family: Avant Garde,Avantgarde,sans-serif;
    color:#3b3a36;
}
button{margin:1em;}
a{color: #3b3a36;}
.h3, h3{color:#3b3a36;}



/* Navbar */
.navbar{background-color:white;
        padding-right:20px;
        border: none;
}
.nav.navbar-nav.navbar-right li a{color: #3b3a36;}
.navbar-brand{color:#3b3a36;}


/* jumbotrons */
.jumbotron p{color: #3b3a36; font-size:15px;}
.jumbotron{margin:50px;}

#jhome{background:white; padding:25px 10%;color: #3b3a36; margin-top:150px; margin-bottom: 150px;}
#howdytext {font-size: 4em; width: auto; float: left;}
#wavinggif {width: auto; height:300px;}

#jabout{background:white;}
#me {margin-top: 2em;}
#aboutCol1{padding-top:40px}

#jportfolio{background:white;}

#jcontact{background:white;}
#jcontact h1 {padding-left: 10px;}
.contact {margin-top:40px;}
.input-group {padding: 5px;}
.contact-text {margin-top: 60px;}

/* carousel */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {width: 80%; margin: auto;}
.carousel-caption {position: relative; left: auto; right: auto; color: black;}
.carousel-control.left, .carousel-control.right {background-image: none}
.glyphicon {color:#3b3a36;}
